@import "constants.scss";
@import "utils.scss";

/****************** 404 error message **************/

.page_not_found_msg
{
    @extend vertical_horizontal_align;
    height:400px;
    width:350px;
    border-radius: 3px;
    box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.3), -0.5px 1px 1px rgba(0, 0, 0, 0.3);
    background: transparent;
}

.page_not_found_msg:before
{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    border-radius: 3px;
    background: #F5F5F5;
    opacity: 0.7;
}

.page_not_found_msg span
{
	@extend vertical_horizontal_align;
	font-size: larger;
}


/****************** 404 error message **************/